<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>NFL Wide Receiver Predictions</title>

  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

  <header>
    <h1>Glossary of Terms and Metrics</h1>
  </header>
  <style>
    img {
      width: 100%;
    }
    </style>
    </head>
    <body>
    
      <!--<img src="assets/NFL2.jpg" alt="HTML5 Icon" width="1280" height="450">-->
  <main class="container">
    <section id="main-bio">
      <section id="figure">
    
      </section>
      <p>PPR Points: fantasy points scored in PPR (Points Per Reception) scoring format. PPR is the standard scoring format for ESPN fantasy leagues.</p>
      <p>PY: Prior Year.</p>
      <p>Targets (Tgt): # of times the ball was thrown to the WR in a season</p>
      <p>Target Share(Tgt_Share/MS_Tgt)): % of team targets intended for the WR"</p>
      <p>Receptions (Rec): # of times the receiver caught the ball</p>
      <p>Catch Rate/Catch %: Rec/Targets * 100</p>
      <p>Receiving Yards (Rec Yds/Rec_Yds): Total yards gained on all Receptions</p>
      <p>Air Yds (AY/Air_Yds): Cumulative distance from the line of scrimmage to where the WR is located at the time the WR is targeted for all targets</p>
      <p>Market Share of Air Yards (MS_AY): % of total team air yards on tgts to the WR</p>
      <p>Unrealized Air Yards (UAY): Total AY on tgts that did not result in a rec (Air_Yds - (Rec_Yds-YAC))</p>
      <p>Average Depth of Target (aDOT): Average distance from the line of scrimmage to the point at at which the WR is targeted</p>
      <p>RACR (receiver air conversion ratio): Total receiving yards created by a receiver per Air Yard (Rec_Yds/Air_Yds)</p>
      <p>Weighted Opportunity Rating (WOPR): Advanced opportunity metric that incorporates the players market shares of both Air Yds and Targets</p>
      <p>Yards After Catch: Yards gained after the receiver catches the ball</p>

    </section>

    <div class="sidenav">
      <a href="index.html">Home</a>
      <a href="glossary.html">Glossary</a>
      <a href="visual.html">Visualizations</a>
      <a href="prediction2.html">Rankings Table</a>
      <a href="prediction.html">Ranking Search</a>
      <a href="data.html">Our Data</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="visual.html">Link 1</a>
        <a href="prediction.html">Link 2</a>
        <a href="data.html">Link 3</a>
    </div>
  </main>
</body>

</html>