<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Wide Receiver Fantasy Football Predictions</title>

  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

  <header>
    <h1>Wide Receiver Fantasy Football Predictions</h1>
  </header>
  <style>
    img {
      width: 100%;
    }
    </style>
    </head>
    <body>
    
      <img src="assets/NFL2.jpg" alt="HTML5 Icon" width="1280" height="450">
  <main class="container">
    <section id="main-bio">
      <section id="figure">
    
      </section>
      <p>The purpose of this project is to use Machine Learning to investigate the relationship between prior year statistics and current year 
        fantasy football production, as measured in PPR (Points Per Reception) Points, for NFL Wide Receivers.</p>

      <p>We will show that, while football results remain very difficult to predict, even when limiting the scope of inquiry to a single position, and 
        with the aid of machine learning technologies, we are able to identify one metric that shows a clear and strong positive correlation to production 
        in the following year. </p>
    </section>

    <div class="sidenav">
      <a href="#Home">Home</a>
      <a href="glossary.html">Glossary</a>
      <a href="visual.html">Visualizations</a>
      <a href="prediction2.html">Rankings Table</a>
      <a href="prediction.html">Ranking Search</a>
      <a href="data.html">Our Data</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="visual.html">Link 1</a>
        <a href="prediction.html">Link 2</a>
        <a href="data.html">Link 3</a>
    </div>
  </main>
</body>

</html>